[submodule "TWIG-KV"]
	path = TWIG-KV
	url = https://github.com/KSTARK007/TWIG-KV.git
[submodule "CRAQ-KV"]
	path = CRAQ-KV
	url = https://github.com/KSTARK007/CRAQ-KV.git
[submodule "LUC-Sim"]
	path = LUC-Sim
	url = https://github.com/KSTARK007/LUC-SIM.git
[submodule "LUC-RethinkDB"]
	path = LUC-RethinkDB
	url = https://github.com/KSTARK007/LUC-RethinkDB.git
